@import "tailwindcss";

@plugin "daisyui" {
    themes: all;
  }

  @font-face {
    font-family: 'NetflixSansBold';
    src: url('utils/fonts/NetflixSans-Bold.otf') format('opentype');
  }

  @font-face {
    font-family: 'NetflixSansLight';
    src: url('utils/fonts/NetflixSans-Light.otf') format('opentype');
  }

